*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(0, 36%, 70%);
    --secondary-color: hsl(0, 93%, 68%);
    --neutral-color: hsl(0, 6%, 24%);
    --gradient-1: Linear,
        135deg,
        from hsl(0, 0%, 100%),
        to hsl(0, 100%, 98%);
    --gradient-2: Linear,
        135deg,
        from hsl(0, 80%, 86%),
        to hsl(0, 74%, 74%);
}

body{
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}