*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(0, 36%, 70%);
    --secondary-color: hsl(0, 93%, 68%);
    --neutral-color: hsl(0, 6%, 24%);
    --gradient-1: linear ,
        135deg,
        from hsl(0, 0%, 100%),
        to hsl(0, 100%, 98%);
    --gradient-2: Linear,
        135deg,
        from hsl(0, 80%, 86%),
        to hsl(0, 74%, 74%);
}

body{
    /* height: 100vh; */
    max-width: 1400px;
    font-family: 'Josefin Sans', sans-serif;
}

main{
    width: 100%;
    padding-bottom: 100px;
}

.logo{
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
}

.logo img{
    width: 100px;
}

.hero-bg{
    background-image: url(./images/hero-mobile.jpg);
    /* height: 30vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
}

.hero-text{
    margin-top: 40px;
}

.hero-text h1{
    text-align: center;
    letter-spacing: 10px;
    font-size: 40px;
    color: var(--neutral-color);
}

.hero-text h1 span{
    color: var(--primary-color);
    font-weight: 400;
}

.hero-description{
    width: 90%;
    margin: 30px auto auto auto;

}

.hero-description p{
    text-align: center;
    line-height: 20px;
    color: var(--primary-color);
    font-weight: 400;
}

.hero-form{
    width: 85%;
    max-width: 500px;
    margin: 30px auto auto auto;
    position: relative;
}

.hero-form form input {
    padding: 20px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%);
    font-size: 16px;
    color: black;
    outline: var(--primary-color);
}

input::placeholder{
    font-size: 15px;
    color: var(--primary-color);
}

input:focus{
    outline: none;
}

.submit-btn{
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    background-color: black;
    border: 1px transparent;
    padding: 16px 40px;
    border-radius: 30px;
    background: linear-gradient(
        135deg,
         hsl(0, 80%, 86%),
         hsl(0, 74%, 74%));
    transition:  .5s ease;
}

.submit-btn img{
    width: 15px;
}

.submit-btn:hover{
    background: linear-gradient(135deg,
    hsl(0, 36%, 70%),
     hsl(0, 100%, 98%));

    box-shadow: 0 20px 10px rgba(231, 139, 127, 0.397);
        
}


@media only screen and (min-width: 700px){

    body{
        max-width: 1400px;
    }

    main{
        padding: 0;
        
    }

    .logo{
        padding: 10%;
    }


    .content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-bg{
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        background-image: url(./images/hero-desktop.jpg);
        height: 100vh;
    }

    .content-text{
        width: 50%;
        /* height: 100%; */
        position: absolute;
        left: 0;
        padding-left: 10%;
    }

    .hero-text h1{
        text-align: left;
    }

    .hero-description{
        width: 100%;
    }

    .hero-description p{
        text-align: left;
    }

    .hero-form{
        margin: 40px 0 0 0;
    }

    h1{
        font-size: 60px;
    }

    p{
        font-size: 18px;
        
    }

    
}

